<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="https://img.icons8.com/emoji/48/brain-emoji.png">
    <title>Faqih Alam | Personal Website</title>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
    {{> navbarSection }}                    <!-- Call the navbarSection.hbs -->
    <main class="container mt-5">
        <h1>Welcome to the Page</h1>
        <p>This content is unique content for introduce my self.</p>
        
        {{!-- Your Section Partials --}}
        {{> aboutSection }}                      <!-- Call the aboutSection.hbs -->        
        {{> techStackSection }}                  <!-- Call the techStackSection.hbs -->
        {{> workExperienceSection }}             <!-- Call the workExperienceSection.hbs --> 
        {{> myProjectSection }}                  <!-- Call the myProjectSection.hbs -->
        {{> CTASection }}                        <!-- Call the CTASection.hbs -->
    </main>
    
    <footer class="footer text-center py-3 mt-5 bg-light">
        <div class="mt-5 pt-5 border-top">
            <p class="text-muted small mb-3">
                © 2025 Designed and coded with <i class="fa-solid fa-heart text-danger"></i> by Faqih Alam
            </p>
            
            <div class="d-flex justify-content-center gap-3">
                <a href="https://github.com/faqih28alam" class="text-muted fs-5"><i class="fa-brands fa-github"></i></a>
                <a href="https://www.linkedin.com/in/faqih-alam-b8a325200" class="text-muted fs-5"><i class="fa-brands fa-linkedin"></i></a>
            </div>
        </div>
    </footer>
    <script src="/assets/js/homePage.js"></script>
</body>
</html>