<!-- THIS IS TECH STACK SECTION HBS -->

<section class="tech-stack-container py-5" id="tech-stack"> 
    <div class="container text-left mb-4">
        <h2 class="fw-bold">Tech Stack – Tools I Use Everyday</h2>
    </div>

    <div class="horizontal-scroll">
        <div class="logos-container">
            
            <div class="logo-item d-inline-block text-center mx-4">
                <i class="fa-brands fa-html5"></i>
                <p class="small mt-2 mb-0">HTML5</p>
            </div>
            <div class="logo-item d-inline-block text-center mx-4">
                <i class="fa-brands fa-css3-alt"></i>
                <p class="small mt-2 mb-0">CSS3</p>
            </div>
            <div class="logo-item d-inline-block text-center mx-4">
                <i class="fa-brands fa-js"></i>
                <p class="small mt-2 mb-0">JavaScript</p>
            </div>
            <div class="logo-item d-inline-block text-center mx-4">
                <i class="fa-brands fa-node-js"></i>
                <p class="small mt-2 mb-0">Node.js</p>
            </div>
            <div class="logo-item d-inline-block text-center mx-4">
                <i class="fa-brands fa-bootstrap"></i>
                <p class="small mt-2 mb-0">Bootsrap</p>            
            </div>
            <div class="logo-item d-inline-block text-center mx-4">
                <i class="fa-brands fa-git-alt"></i>
                <p class="small mt-2 mb-0">Git</p>
            </div>
            <div class="logo-item d-inline-block text-center mx-4">
                <i class="fa-solid fa-database"></i>
                <p class="small mt-2 mb-0">Database</p>
            </div>
            
        </div>

    </div>


</section>