<!-- THIS IS TECH STACK SECTION HBS -->

<div style="background: #333; color: white; padding: 1rem;">
    <strong>My Tech Stack</strong>
    <ul>
        {{#each techStack}}
            <li>{{this}}</li>
        {{/each}}
    </ul>
    <p>This is techStackSection.hbs</p>
</div>