<!-- THIS IS TECH STACK SECTION HBS -->

<section class="tech-stack-container py-5">
    <div class="container text-center mb-4">
        <h2 class="fw-bold">Tech Stack – Tools I Use Everyday</h2>
    </div>

    <div class="logos">
        <div class="logos-slide">
            <i class="fa-brands fa-html5"></i>
            <i class="fa-brands fa-css3-alt"></i>
            <i class="fa-brands fa-js"></i>
            <i class="fa-brands fa-node-js"></i>
            <i class="fa-brands fa-react"></i>
            <i class="fa-brands fa-bootstrap"></i>
            <i class="fa-brands fa-git-alt"></i>
            <i class="fa-solid fa-database"></i> </div>
        
        <div class="logos-slide">
            <i class="fa-brands fa-html5"></i>
            <i class="fa-brands fa-css3-alt"></i>
            <i class="fa-brands fa-js"></i>
            <i class="fa-brands fa-node-js"></i>
            <i class="fa-brands fa-react"></i>
            <i class="fa-brands fa-bootstrap"></i>
            <i class="fa-brands fa-git-alt"></i>
            <i class="fa-solid fa-database"></i>
        </div>
    </div>
</section>